.box{
    width:750px;
    margin:0px auto;
}

.submit_button {
    margin-top:20px;
    margin-left:210px;
    padding: 8px 20px;
    color: #fff;
    background: #58bae9;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #6cbe42;
}
.label-container1
{
    color: #3c4950;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 100;
    margin: 0 0 10px;
    padding-top: 10px;
    width: 200px;
}