
#changepw-form {
    margin : 0 0 0 50px;
}

.box{
    width:650px;
    margin:0px auto;
}
#submit-button {
    clear : both;
    margin : 0 0 0 200px;
    padding : 40px 0 0 0;
}
.submit_button {
    margin-top:15px;
    margin-left:210px;
    padding: 8px 20px;
    color: #fff;
    background: #58bae9;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #6CBE42;
}

.errorExplanation p {
    font-size:14px;
    font-weight:bold;
    margin:5px 0 0 20px;
}