
#changepw-form {
    margin : 0px auto;
    width:500px;
}
#submit-button input {
    background:#58BAE9;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-top:30px;
    margin-left:211px;
    padding:10px 15px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}
#submit-button input:hover{
    background: #6CBE42;
}

.errorExplanation p {
    font-size:14px;
    font-weight:bold;
    margin:5px 0 0 20px;
}