
.link-box {padding:20px 20px 20px 75px; margin-right:20px; margin-bottom:20px; width:260px;float:left; background:#6CBE42; height:80px;}

.link-box-last { padding:10px 20px 10px 75px !important; height:100px !important; }

.link-box-last .link-heading { padding-top:0 !important;}
.link-heading { padding-top:10px;}
.link-heading a {font-size:24px; margin-top:10px; color:#fff; text-decoration:none;}
.link-descr {color:#fff;text-align:justify;}
#box{
    width:700px;
    margin:0px auto;
}
.box{
    width:750px;
    margin:0px auto;
}

.exam1 { 
	background:#6CBE42 url(../../images/examination/set-g-level.png) no-repeat 20px center !important;
}

.exam1:hover { 
	background:#58bae9 url(../../images/examination/set-g-level.png) no-repeat 20px center !important;
}

.exam2 { 
	background:#6CBE42 url(../../images/examination/exam-managment.png) no-repeat 20px center !important;
}

.exam2:hover { 
	background:#58bae9 url(../../images/examination/exam-managment.png) no-repeat 20px center !important;
}

.exam3 { 
	background:#6CBE42 url(../../images/examination/add-exams.png) no-repeat 20px center !important;
}

.exam3:hover { 
	background:#58bae9 url(../../images/examination/add-exams.png) no-repeat 20px center !important;
}

.exam4 { 
	background:#6CBE42 url(../../images/examination/exam-report.png) no-repeat 20px center !important;
}

.exam4:hover { 
	background:#58bae9 url(../../images/examination/exam-report.png) no-repeat 20px center !important;
}

.exam5 { 
	background:#6CBE42 url(../../images/examination/subject-report.png) no-repeat 20px center !important;
}

.exam5:hover { 
	background:#58bae9 url(../../images/examination/subject-report.png) no-repeat 20px center !important;
}

.exam6 { 
	background:#6CBE42 url(../../images/examination/grouped-report.png) no-repeat 20px center !important;
}

.exam6:hover { 
	background:#58bae9 url(../../images/examination/grouped-report.png) no-repeat 20px center !important;
}

.exam7 { 
	background:#6CBE42 url(../../images/examination/archived-report.png) no-repeat 20px center !important;
}

.exam7:hover { 
	background:#58bae9 url(../../images/examination/archived-report.png) no-repeat 20px center !important;
}