
.link-box {
    margin:10px 40px;
    width:270px;
    float:left;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr {
    margin-top:5px;
    color:#666;
    text-align:justify;
    font-size:14px;
}
#box{
    width:700px;
    margin:0px auto;
}

#inner-tab-menu ul li {
    padding: 0 6px;
}

.submit_button {
    margin-top:20px;
    margin-left:260px;
    padding: 8px 20px;
    color: #fff;
    background: #58bae9;
    font-weight: bold;
    font-size: 14px;
    border:none;
    cursor:pointer;
}
.submit_button:hover{
    background:  #6cbe42;
}
form.new_exam{
    margin: 0 auto;
    width: 500px;
}
.necessary-field {
    color: red;
    font-size: 1.1em;
}